@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import 'atropos/css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ITC Garamond';
  src: url(~/assets/fonts/ITCGaramondStd-LtNarrow.woff2) format('woff2'),
    url(~/assets/fonts/ITCGaramondStd-LtNarrow.woff) format('woff'),
    url(~/assets/fonts/ITCGaramondStd-LtNarrow.ttf) format('truetype'),
    url(~/assets/fonts/ITCGaramondStd-LtNarrow.otf) format('embedded-opentype'),
    url(~/assets/fonts/ITCGaramondStd-LtNarrow.eot) format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@layer components {
  body {
    @apply bg-white dark:bg-black antialiased text-black dark:text-white;
  }
}

.hero-gradient {
  background: radial-gradient(ellipse at top, transparent 40%, white 78%);
}

:is(.dark .dark\:hero-gradient-dark) {
  background: radial-gradient(ellipse at top, transparent 40%, black 78%);
}
